//Colors
$primaryColor: #48c3d9;
$secondaryColor: #1799b0;
$bgColor: #ccc;

//Typography
$base-font-family: sans-serif;
$base-font-size: 18px;
$base-font-weight: 100;
$base-line-height: 14px;
$base-font-color: #fff;

//Card dimensions
$cardWidth: 256px;
$cardHeight: 364px;

//Icons
$icon-location: '\e800';
$icon-wind: '\e801';
$icon-clouds-flash-alt: '\e802';
$icon-cloud-flash-alt: '\e803';
$icon-hail: '\e804';
$icon-snow-heavy: '\e805';
$icon-rain: '\e806';
$icon-drizzle: '\e807';
$icon-windy-rain: '\e808';
$icon-fog: '\e809';
$icon-mist: '\e80a';
$icon-moon: '\e80b';
$icon-sun: '\e80c';
$icon-temperature: '\e80d';
$icon-snowflake: '\e80e';
$icon-na: '\e80f';
$icon-cloud: '\e810';
$icon-moon-1: '\e811';
$icon-cloud-moon: '\e812';
$icon-cloud-sun: '\e813'; 
